.logo {
	background: linear-gradient(to right, get-color(primary, 1),get-color(primary,  2),get-color(primary,  3));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}